@media (max-width: 720px) {
  .navigation {
    height: 60px;
  }
  
  .nav-content {
    height: 60px;
    margin: 0 10%;
  }

  .section1 .heading1 {
    position: absolute;
    color: white;
    left: 5%;
    top: 45%;
    font-size: clamp(1.8rem, 2.2rem, 3rem);
    animation: fadein 4s ease .3s;
  }

  .nav-content .nav-links {
    display: none;
  }

  .nav-content .nav-btn {
    display: none;
  }

  .nav-content .toggle-btn {
    display: block;
    font-size: 1.5rem;
  }

  .dropdown-menu {
    border-radius: 20px;
  }

  .dropdown-menu.open {
    position: absolute;
    top: 78px;
    width: 100%;
    background: rgba(110, 88, 74, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
 .dropdown-menu.open {
    position: absolute;
    top: 78px;
    width: 100%;
    background: hwb(207 14% 82% / 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  
  .dropdown-menu.open a {
    color: white;
  }
  
  .section2 {
    display: flex;
    flex-direction: column;
    padding-top: 0;

  }

  aside {
    display: none;
  }

  .other-side {
    display: none;
    
  }
  
  .wrapper {
    display: none;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 5%;
    padding: 0;
  }
  
  .bottom h2 {
    font-size: clamp(1.5rem, 2.1rem, 2.5rem);
  }

  .bottom p {
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
  }

  .image-container1 img {
    max-width: 550px;
    border-radius: 5px;
  }
  .image-container2 img {
    display: none;
  }

  .image-wrap {
    margin-left: 10%;
    padding: 0;
  }

  .bottom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .bottom2 h2 {
    display: none;
  }

  .bottom2 p {
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
    margin-right: 0;
    margin-left: 0;
  }

  .image-wrapab {
    padding: 0;
    margin-left: 10%;
    margin-right: 5%;
  }

  .image-container1b img  {
    min-width: 160px;
    max-width: 550px;
    border-radius: 5px;
  }

  .image-container2b img {
    display: none;
  }

  .filter-menu h1 {
    font-size: clamp(1.5, 2rem, 3rem);
    border-top: 2px solid #24292D;
    border-bottom: 2px solid #24292D;
    margin: 0;
    padding-left: 10%;
  }

  .menu {
    min-width: 100px;
    max-width: 600px;
    padding-left: 20px;
  }

  .menu #all-menu {
    display: none;
  }

  .menu .product {
    width: auto;
    max-height: 336px;
    overflow: hidden;
  }

  .our-vision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0;
  }
  
  .our-vision h2 {
    font-size: clamp(1.5rem, 2.1rem, 2.5rem);
  }

  .our-vision p {
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
  }

  .vision-bottom {
    display: flex;
    height: auto;
    gap: 10px;
  }

  .vision-bottom .vision-img1 {
    max-width: 90%;
    height: auto;
    object-fit: cover;
  }

  .vision-bottom .vision-img2 {
    width: 90%;
    object-fit: cover;
  }

  .vision-bottom .vision-img3 {
    display: none;
  }

  .s3-content .same {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .section3 .sub1 {
    display: none;
  }

  .s3-content a:active {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #24292D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .s3-content a:hover:active{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media (max-width: 948px) {
  .navigation {
    height: 70px;
  }
  
  .nav-content {
    height: 70px;
    margin: 0 10%;
  }

  .section1 .heading1 {
    position: absolute;
    color: white;
    left: 5%;
    top: 45%;
    font-size: clamp(1.8rem, 2.2rem, 3rem);
    animation: fadein 4s ease .3s;
  }

  .nav-content .nav-links {
    display: none;
  }

  .nav-content .nav-btn {
    display: none;
  }

  .nav-content .toggle-btn {
    display: block;
    font-size: 1.5rem;
  }

  .dropdown-menu {
    border-radius: 20px;
  }

  .dropdown-menu.open {
    position: absolute;
    top: 78px;
    width: 100%;
    background: rgba(110, 88, 74, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .dropdown-menu.open a {
    color: white;
  }
  
  .section2 {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  aside {
    display: none;
  }

  .other-side {
    display: flex;
    flex-direction: column;
    
  }
  
  .other-side .s2-content{
    width: 400px;
    margin-top: 60px;
    margin-left: 10%;
  }

  .other-side h2 {
    font-size: clamp(1.5rem, 2.4rem, 2.5rem);
    color: #24292D;
  }

  .wrapper {
    margin-left: 10%;
  }

  .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 160px;
    width: 520px;
    margin-left: 30px;
    opacity: 0;
    transform: translateY(-50px);
    transition-delay: .3s;
    transition: all .5s ease;
  }

  input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 60px;
    margin-left: 10%;
    margin-right: 5%;
    padding: 0;
  }
  
  .bottom h2 {
    font-size: clamp(1.5rem, 2.1rem, 2.5rem);
  }

  .bottom p {
    max-width: 700px;
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
  }

  .image-container1 img {
    width: 550px;
    border-radius: 5px;
  }
  .image-container2 img {
    display: none;
  }

  .image-wrap {
    margin-left: 10%;
    padding: 0;
  }

  .bottom2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 60px;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .bottom2 h2 {
    display: none;
  }

  .bottom2 p {
    max-width: 700px;
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
    margin-right: 0;
    margin-left: 0;
  }

  .image-wrapab {
    padding: 0;
    margin-left: 10%;
    margin-right: 5%;
  }

  .image-container1b img  {
    min-width: 160px;
    width: 650px;
    max-height: 350px;
    border-radius: 5px;
    object-fit: cover;
  }

  .image-container2b img {
    display: none;
  }

  .filter-menu h1 {
    font-size: clamp(1.5, 2rem, 3rem);
    border-top: 2px solid #24292D;
    border-bottom: 2px solid #24292D;
    margin: 0;
    padding-left: 10%;
  }

  .menu #all-menu {
    display: none;
  }

  .menu .product {
    width: 600px;
    max-height: 336px;
    overflow: hidden;
  }

  .our-vision {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin-bottom: 60px;
    margin-left: 10%;
    padding-top: 0;
  }
  
  .our-vision h2 {
    font-size: clamp(1.5rem, 2.1rem, 2.5rem);
  }

  .our-vision p {
    max-width: 700px;
    font-size: clamp(0.7rem, 1.02rem, 1.5rem);
  }

  .vision-bottom .vision-img1 {
    max-width: 90%;
    height: 500px;
    object-fit: cover;
  }

  .vision-bottom .vision-img2 {
    display: none;
  }

  .vision-bottom .vision-img3 {
    display: none;
  }

  .s3-content .same {
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .section3 .sub1 {
    display: none;
  }

  .s3-content a:active {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #24292D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .s3-content a:hover:active{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media (max-width: 1300px) {  
  aside {
    min-width: 10%;
  }
  
  .grab {
    width: auto;
  }

  .other-side .s2-content{
    max-width: 300px;
    margin-top: 60px;
  }
  
  .wrapper {
    width: auto;
    position: relative;
    right: 100px;
  }
  
  .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    max-width: 320px;
    margin-left: 30px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .5s ease;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  input:checked + label {
    max-width: 400px;
  }

  input:checked + label .description {
    opacity: 0 !important;
    transform: translateY(0) !important;
  }

  .image-container1 img {
    width: 400px;
    border-radius: 5px;
  }
  .image-container2 img {
    width: 650px;
    padding-right: 15%;
    border-radius: 5px;
  }

  .image-container1b img {
    width: 510px;
    height: 320px;
    border-radius: 5px;
    object-fit: cover;
  }
  .image-container2b img {
    width: 510px;
    height: 320px;
    border-radius: 5px;
    object-fit: cover;
  }

  .menu .product {
    max-height: 420px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    background-color: rgba(110, 88, 74, 0.3);
    border-radius: 20px;
    overflow: hidden;
  }

  .product p {
    font-size: 1.25rem;
  }
}