html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.3px;
  font-family: 'Josefin Sans', 'Lato', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Lato';
}

h1, h2, h3 {
  font-family: 'Josefin Sans';
}

p {
  font-family: 'Lato';
}

button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  font-family: 'Josefin Sans';
  background-color: #24292d;
  font-size: 1.15rem;
  color: white;
}

.navigation {
  background-color: rgba(250, 250, 250, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 90px;
}

.nav-content {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10%;
}

.nav-content h1 {
  font-size: 2rem;
  font-family: 'Josefin Sans';
  color: #24292d;
}

.nav-content .nav-links {
  display: flex;
  gap: 20px;
}

.nav-content a {
  transition: transform 0.5s;
  border-radius: 20px;
  padding: 8px 15px;
}

.nav-content a:hover {
  transform: scale(1.1);
  /* box-shadow: 4px 4px 7px  #4b392e; */
  background-color: rgb(110, 88, 74, 0.3); 
}

.nav-content #gallery:hover {
  background-color: hwb(207 14% 82% / 0.3);
}

.nav-content #contact:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-content button {
  transition: all 0.3s;
}

.nav-content button:hover {
  transform: scale(0.94);
  box-shadow: 4px 4px 7px  hsla(207, 11%, 16%, 0.5);
}

.nav-content .toggle-btn {
  display: none;
  cursor: pointer;
}

.nav-content .dropdown-menu {
  display: none;
}

.nav-links {
  font-size: 1.2rem;
  font-family: 'Lato';
}

.first-section {
  margin: 0 10%;
  margin-top: 8%;
  padding: 15px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #24292d80;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  left: 50%;
  transform: translateX(-50%);
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0.15rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.75;
}

.slider-nav a:hover {
  transform: scale(1.3);
}

.hide-me {
  display: none;
}

.hide-me.present {
  display: block;
  height: auto;
  background-color: #e8e6e8c4;
  border-radius: 20px;
  padding: 10px 50px;
  text-align: center;

  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 100;
  /* transition: box-shadow 2s; */
  animation: colorShift2 0.8s infinite ease-in;
}

.hide-me.hide-me.present .pad1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-weight: bold;
  animation: colorShift1 2s infinite;
  margin: 0;
}

@keyframes colorShift1 {
  0%, 75% {
    color: #24292D;
  }

  25% {
    color: #4b392e;
  }

  50% {
    color: #D3CDC8;
  }

  100% {
    color: none;
  }
}

@keyframes colorShift2 {
  0%, 100% {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

  25%, 75% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.hide-me.hide-me.present .pad2 {
  font-size: 1.4rem;
  margin: 0;
}

.second-section {
  margin: 8% 10%;
  margin-top: 5%;
  padding: 50px 25px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 2px solid #24292d80;
}

.left-side {
  height: auto;
  flex: 0 1 auto;
}

.left-side img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}

.left-side img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(51, 49, 49, 0.5);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 20px;
}

.right-side {
  height: auto;
  flex: 0 1 auto;
}

.right-side img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

.right-side img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(51, 49, 49, 0.5);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 20px;
}

.gallery-bottom {
  max-width: 500px;
}

.gallery-bottom h2 {
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.2rem, 2rem, 3rem);
  font-weight: bold;
  margin-bottom: 0;
}

.gallery-bottom p {
  margin: 0;
  font-size: clamp(0.7rem, 1rem, 1.3rem);
}

.third-section {
  margin: 8% 10%;
  margin-top: 5%;
  padding: 0;
  height: auto;
  display: flex;
  border-radius: 20px;
  border: 2px solid #24292d80;
}

.one-but {
  height: 60vh;
  background-color: #24292d80;
  width: 50%;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.one-but:hover {
  background-color: #0d1114;
  transition: background-color 1s;
}

.one-but p {
  max-width: 280px;
  margin-left: 60px;
  background-color: hsla(45, 29%, 97%, 0.9);
  padding: 5px 10px;
  border-radius: 10px;
  transition: all .8s ease-in-out;
  position: relative;
  z-index: 100;
}

.one-but p em {
  position: relative;
}


.one-but p em::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #24292D;
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}

.one-but:hover p em::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.third-section:hover p {
  transform: translateX(240%);
  background-color: #24292d80;
  color: white;
  transition-timing-function: cubic-bezier(0.15, 0.62, 0.265, 1);
  transition-delay: 1s;
}

.third-section:hover #hidden-2 {
  transform: translateX(100%);
}

.one-but:hover #hidden-2 {
  transform: translate(65%, 35%);
  transition: all 0.5s;
  z-index: 199;
}

#hidden-2:hover .hidden-gem {
  transition: all 1s;
}

.one-but:hover > #hidden-2:hover > .hidden-gem.gift {
  background-color: #0d1114;
  border-radius: 5px;
}

.hidden-gem.gift {
  transition: all .5s;
}

.two-but {
  height: 60vh;
  width: 50%;
  z-index: 170;
}

.two-but img {
  display: block;
}

.two-but .swoosh {
  opacity: 0;
}

.swoosh.xush {
  opacity: 1;
  transform: translate(-536px, -312px);
  transition: all .5s ease-out;
}

.line {
  position: relative;
  z-index: 190;
  width: 40%;
  border: 2px solid hsl(207, 11%, 16%);
  margin-top: 100px;
  left: 30%;
  transform: scale(0.25) translateX(0);
  transition: transform 1s ease-out, opacity 3.5s ease-out;
  opacity: 1;
}

.one-but:hover + .two-but .line {
  transform: scale(1.1) translateX(-520px);
  opacity: 0;
}

.triangle-1 {
  width: 33%;
  height: 33%;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  /* background-image: url(images/pexels-k-zoltan-12035745.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  object-fit: cover;
  transition: all .5s ease-out;
}

.trapezoid-1 {
  width: 100%;
  height: 33%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 33% 100%);
  /* background-image: url(images/pexels-andrea-piacquadio-761854.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%; */
  object-fit: cover;
  object-position: center 30%;
  transition: all .5s ease-out;
  position: relative;
  bottom: 33%;
  z-index: 1;
}

.trapezoid-2 {
  width: 100%;
  height: 33%;
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
  object-fit: cover;
  object-position: center 30%;
  transition: all .5s ease-out;
  position: relative;
  bottom: 33%;
  z-index: 1;
}

.triangle-2 {
  width: 33%;
  height: 34%;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  object-fit: cover;
  object-position: right 60%;
  transition: all .5s ease-out;
  position: relative;
  bottom: 33%;
  z-index: 1;
}

.trapezoid-3 {
  width: 100%;
  height: 34%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 33% 100%);
  object-fit: cover;
  object-position: center 30%;
  transition: all .5s ease-out;
  position: relative;
  bottom: 67%;
  z-index: 1;
}

.section3 {
  z-index: 299;
  position: relative;
}

.section3 .same {
  margin: 0 10%;
  border-top: 2px solid black;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.s3-content {
  padding-bottom: 30px;
}

.s3-content h3 {
  padding-left: 16px;
  transform: scale(1.3);
}

.s3-content i {
  font-size: 2rem;
}

.s3-content .fa-instagram:hover {
  transform: scale(1.2);
  color: #cd486b  ;
}

.s3-content .fa-x-twitter:hover {
  transform: scale(1.2);
}

.s3-content a {
  font-size: 1.3rem;
  position: relative;
}

.s3-content a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #24292D;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.s3-content a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.s3-content .sub1 {
  padding-top: 70px;
  transform: scale(1.7);
  color: #24292D;
}

.hide-me {
  display: none;
}

.hide-me.present {
  display: block;
  height: auto;
  background-color: #e8e6e8c4;
  border-radius: 20px;
  padding: 10px 50px;
  text-align: center;

  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  z-index: 100;
  /* transition: box-shadow 2s; */
  animation: colorShift2 0.8s infinite ease-in;
}

.hide-me.hide-me.present .pad1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  font-weight: bold;
  animation: colorShift1 2s infinite;
  margin: 0;
}

@keyframes colorShift1 {
  0%, 75% {
    color: #24292D;
  }

  25% {
    color: #4b392e;
  }

  50% {
    color: #D3CDC8;
  }

  100% {
    color: none;
  }
}

@keyframes colorShift2 {
  0%, 100% {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }

  25%, 75% {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  50% {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
}

.hide-me.hide-me.present .pad2 {
  font-size: 1.4rem;
  margin: 0;
}